<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CampusLive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>983CE0611E3478CC0098D03B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD46A9341E5A2CA000CFA7D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD46A9481E5A2CA000CFA7D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD46A9531E5A2CA000CFA7D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
